.info-1{
    border-radius: 10px;
    width: 400px;
    height: 150px;
    background-image: linear-gradient(to bottom right, blue,cyan);
    color: white;
}
h1,h2,p{
   
   color: white;
}
h1{
    text-decoration: underline; 
    text-align: center;
    color: white;  
}
body{
    background-color: black;
}
.info-2{
    border-radius: 10px;
    width: 700px;
    height: 200px;
    background-image: linear-gradient(to bottom right, blue,cyan);
    color: white;
    margin-left: 20px;
    text-align: center;
    
}
.info-2 button{
    width:120px ;
    height: 30px;
    border-style: hidden;
    margin-top: 4px;
    border-radius: 5px;
    
}
.container{
    display: flex;
}