.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
  }
  
  .my-div {
    width: 80%;
    height: 500px;
    margin: auto;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  